.container {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  width: fit-content;
  justify-content: space-between;
  font-family: monospace;
  padding: 10px;
  animation-duration: 200ms;
  animation-name: slide-in;
  transition: 100ms;

  .letter {
    font-size: 5em;
  }

  .index {
    color: gray;
  }

  &:hover {
    transform: scale(1.1);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  @keyframes slide-in {
    0% {
      transform: translateY(20px) scale(1.1);
      opacity: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 100%;
    }
  }
}
