.container {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  width: fit-content;
  justify-content: space-between;
  font-family: monospace;
  padding: 10px;

  .letter {
    font-size: 5em;
  }

  .index {
    color: gray;
  }
}
